.c {
  display: flex;
  gap: 0.5rem;
  width: 100%;
}

.c table {
  width: 100%;
}

.c thead {
  background-color: white;
}

.c thead td {
  padding: 0 1rem;
}

.c td {
  font-weight: bold;
  text-align: center;
}

.active {
  color: red;
}

.c tbody {
  background-color: #eaeaea;
}

.c tbody td {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.3;
  padding: 0.2rem;
}

.c .terminkunde {
  font-weight: normal;
  display: block;
  font-size: 1rem;
  padding: 0 0.5rem;
}
